{% extends "layout.html" %}
{% block title %}Shop{% endblock %}
{% block content %}
<p>Hello {{session["displayname"]}}!</p>
<p>You can browse and order food here!</p>
<div>
{% for restaurant in restaurants %}
    <form action="/order_food", name ="{{restaurant.name}}", method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <h3 class="mt-4">Restaurant: {{restaurant[0]}}</h3>
        {% for food in restaurant[1] %}
            <div class="mt-1">
                <h4 class="mt-0">{{food[1]}}</h4>
                <p class="mt-0">Price: {{food[2]}}</p>
                <label for="{{food[1]}}">Quantity:</label><br>
                <input class="mt-0" type="number" id="{{food[1]}}" name="{{food[1]}}", min="0"><br>
            </div>
        {% endfor %}
        <button class="btn btn-lg" type="submit" name="restaurantName" value="{{restaurant.name}}">Order</button><br>
    </form>
{% endfor %}
</div>
{% endblock %}